///////////////////////////////////////////////////////
//// CHECKOUT SUB HEADER  ///////////////////////////////////////////////////////
///////////////////////////////////////////////////////

.checkout-sub-header {
    width: 100%;
    height: 56px;
    background-color: $dark-gray;
    display: flex;
    align-items: center;

    .checkout-sub-header-inner {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .checkout-sub-header-back {
        cursor: pointer;
        
        .button-label {
            margin-left: 8px;
            color: white;
        }
    }

    .checkout-header-title {
        color: $blue;
        font-weight: $font-weight-regular;
        font-size: 12px;
        text-transform: uppercase;
    }

    .checkout-header-body {
        color: $white;
        font-weight: $font-weight-regular;
        font-size: 12px;
        text-transform: uppercase;
    }
}
